mixin card(title, link, type)
  if type === "gql"
    a.card.pink(href=link)
      include ../includes/svg/graphql.pug
      h3.subtitle= title
  else if type === "rest"
    a.card.blue(href=link)
      include ../includes/svg/rest.pug
      h3.subtitle= title

