# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your desired config.

# Logger
# error: 0 | warn: 1 | info: 2 | http: 3 | verbose: 4 | debug: 5 | silly: 6
LOG_LEVEL="info"
LOG_DIR="logs/"
