doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/aurora.pug
    include includes/corner.pug
    div.container
      h1.title Open CO2
      p.small.headline v
        span= version
        | !{' '}
        span (#{environment} environment)
      p.subtitle Open database for CO₂ equivalencies
      br
      br
      br
      div.group
        h2.base Explore API using:
        include mixins/card.pug
        +card("GraphQL", "http://localhost:4000/graphql", "gql")
        +card("Rest (WIP)", "http://localhost:4000/wip", "rest")
        br
        br
        a.base(href="https://github.com/MediaComem/open-co2/blob/feature/mongodb/server/seeder/data/Open%20CO2.xlsx") Searching for tabular data sources?
    include includes/footer.pug
