# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your desired config.

# Logger
# error: 0 | warn: 1 | info: 2 | http: 3 | verbose: 4 | debug: 5 | silly: 6
LOG_LEVEL="info"
LOG_DIR="logs/"

# GraphQL server port
# Default: 4000
PORT=4000

# Endpoints
# GraphQL
# Default: /graphql
GRAPHQL_ENDPOINT="/graphql"
# REST
# Default: /rest
REST_BASE="/rest"
# Define tree depth limit in REST API results
REST_DEPTH=1

# MongoDB
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=password
MONGO_URI="mongodb://database:27017/open-co2" # URI is the service name defined in docker-compose.yml


# Apollo
APOLLO_INTROSPECTION=true
APOLLO_PLAYGROUND=true
