@font-face {
  font-family: JetBrainsMono;
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

:root {
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-900: #0f172a;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;

  --h1: 600px;
  --h2: 200px;
}

::selection {
  background: var(--slate-400);
}

html {
  background-color: var(--slate-900);
  color: white;
  font-family: JetBrainsMono, monospace;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin-top: -8rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.group {
  padding-top: 32px;
  border-top: 1px solid var(--slate-500);
}

.title {
  text-transform: uppercase;
  font-size: 3.4rem;
  margin: 0;
}
.subtitle {
  font-size: 1.6rem;
  margin: 16px 0;
}

.base {
  font-size: 1rem;
}

.small {
  font-size: 0.8rem;
  margin-top: 4px;
}

.headline {
  color: var(--slate-500);
}

a {
  color: white;
  transition: color 0.2s ease;
  cursor: pointer;
}
a:hover {
  color: var(--slate-400);
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.card-group {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .card-group {
    flex-direction: column;
  }
}

.card {
  min-width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0 24px 24px;
  margin: 16px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.card h3 {
  margin: 16px 0 0;
}

.card a {
  text-decoration: none;
}
.card a:hover {
  color: white;
}

.pink {
  background-color: var(--pink-500);
  box-shadow: 0 10px 15px -3px rgba(236, 72, 153, 0.5),
    0 4px 6px -2px rgba(236, 72, 153, 0.2);
}
.pink:hover {
  background-color: var(--pink-400);
  color: white;
  box-shadow: 0 10px 32px -5px rgba(236, 72, 153, 0.8),
    0 4px 30px -2px rgba(236, 72, 153, 0.6);
}
.blue {
  background-color: var(--blue-500);
  box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.5),
    0 4px 6px -2px rgba(59, 130, 246, 0.2);
}
.blue:hover {
  background-color: var(--blue-400);
  color: white;
  box-shadow: 0 10px 32px -5px rgba(59, 130, 246, 0.8),
    0 4px 30px -2px rgba(59, 130, 246, 0.6);
}

.card .button {
  opacity: 0;
  transition: opacity 0.25s ease, background-color 0.25s ease;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
}

.card .button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.card:hover .button {
  opacity: 1;
}

.card a:first-child {
  transition: transform 0.25s ease;
  transform: translateY(80px);
}
.card:hover a:first-child {
  transform: translateY(60px);
}

/* Github corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Background */
#wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto 0 auto;
  overflow: hidden;
  z-index: -1;
}

#lightings {
  bottom: -180px;
  position: absolute;
  width: 100%;
}

section {
  border-radius: 50%;
  height: 160px;
  width: 100%;
  position: relative;
  margin: auto;
}

#one {
  width: 100%;
  /*animation*/
  animation: one 8s ease-in-out infinite alternate;
}
@keyframes one {
  from {
    box-shadow: 0 0 var(--h1) 20px var(--blue-600);
  }

  to {
    box-shadow: 0 0 var(--h2) 16px var(--pink-600);
  }
}

#two {
  width: 90%;
  /*animation*/
  animation: two 7s ease-in-out infinite alternate;
}
@keyframes two {
  from {
    box-shadow: 0 0 var(--h1) 20px var(--blue-500);
  }

  to {
    box-shadow: 0 0 var(--h2) 16px var(--pink-500);
  }
}

#three {
  width: 80%;
  /*animation*/
  animation: three 6s ease-in-out infinite alternate;
}
@keyframes three {
  from {
    box-shadow: 0 0 var(--h1) 20px var(--slate-900);
  }

  to {
    box-shadow: 0 0 var(--h2) 16px var(--pink-500);
  }
}

#four {
  width: 70%;
  /*animation*/
  animation: four 5s ease-in-out infinite alternate;
}
@keyframes four {
  from {
    shadow: 0 0 var(--h1) 20px var(--slate-900);
  }

  to {
    shadow: 0 0 var(--h2) 16px var(--blue-500);
  }
}
