svg(width='68' height='76' viewbox='0 0 68 76' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M3.35878 56.1648L6.14139 57.7714L37.1408 4.08039L34.3582 2.4738L3.35878 56.1648Z' fill='white')
            path(d='M64.7203 51.8754H2.72153V55.0885H64.7203V51.8754Z' fill='white')
            path(d='M3.94833 53.6805L34.9594 71.5853L36.5659 68.8027L5.55491 50.8979L3.94833 53.6805Z' fill='white')
            path(d='M30.8876 7.01609L61.8986 24.9208L63.5052 22.1382L32.4942 4.23348L30.8876 7.01609Z' fill='white')
            path(d='M3.95695 22.126L5.56354 24.9086L36.5746 7.00382L34.968 4.22121L3.95695 22.126Z' fill='white')
            path(d='M30.3274 4.081L61.3268 57.772L64.1095 56.1654L33.11 2.47441L30.3274 4.081Z' fill='white')
            path(d='M8.39296 19.9952H5.17978V55.8047H8.39296V19.9952Z' fill='white')
            path(d='M62.2814 19.9952H59.0683V55.8047H62.2814V19.9952Z' fill='white')
            path(d='M33.0089 67.7946L34.4123 70.2252L61.3835 54.6529L59.9802 52.2223L33.0089 67.7946Z' fill='white')
            path(d='M66.5399 56.85C64.6816 60.0825 60.5393 61.1858 57.3068 59.3276C54.0743 57.4694 52.971 53.3271 54.8292 50.0946C56.6874 46.862 60.8297 45.7587 64.0622 47.6169C67.3141 49.4945 68.4174 53.6174 66.5399 56.85Z' fill='white')
            path(d='M12.6127 25.7054C10.7545 28.9379 6.61219 30.0413 3.37966 28.183C0.147122 26.3248 -0.956197 22.1825 0.902025 18.95C2.76025 15.7175 6.90253 14.6141 10.1351 16.4724C13.3676 18.3499 14.4709 22.4729 12.6127 25.7054Z' fill='white')
            path(d='M0.921373 56.85C-0.936849 53.6174 0.16647 49.4945 3.399 47.6169C6.63154 45.7587 10.7545 46.862 12.632 50.0946C14.4903 53.3271 13.3869 57.45 10.1544 59.3276C6.90253 61.1858 2.7796 60.0825 0.921373 56.85Z' fill='white')
            path(d='M54.8485 25.7054C52.9903 22.4729 54.0936 18.3499 57.3262 16.4724C60.5587 14.6141 64.6816 15.7175 66.5592 18.95C68.4174 22.1825 67.3141 26.3055 64.0816 28.183C60.849 30.0413 56.7068 28.9379 54.8485 25.7054Z' fill='white')
            path(d='M33.7306 75.8C29.9948 75.8 26.9752 72.7804 26.9752 69.0446C26.9752 65.3088 29.9948 62.2892 33.7306 62.2892C37.4664 62.2892 40.486 65.3088 40.486 69.0446C40.486 72.761 37.4664 75.8 33.7306 75.8Z' fill='white')
            path(d='M33.7306 13.5108C29.9948 13.5108 26.9752 10.4912 26.9752 6.75541C26.9752 3.01961 29.9948 0 33.7306 0C37.4664 0 40.486 3.01961 40.486 6.75541C40.486 10.4912 37.4664 13.5108 33.7306 13.5108Z' fill='white')
